:root {
  /*colors*/
  --color-gray: #9e9e9e;
  --color-light: #f2f2f2;
  --color-dark: #212121;
  --color-red: #ff0000;
  --color-lightBlue: #87cefa;
  --color-mainBackground: linear-gradient(to bottom, #c9d6ff, #e2e2e2);

  /*font*/
  --font-medium: 18px;

  /*shadow*/
  --shadow-regular: 0px 4px 10px 4px #9e9e9e;

  /*animation*/
  --animation-cubicBezier: 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}
