.box {
  padding: 40px;
  background-color: var(--color-light);
  min-width: calc((100% - 100px) / 6);
  border-radius: 8px;
  color: var(--color-dark);
  box-shadow: var(--shadow-regular);
  position: relative;
  text-align: center;
  word-break: break-word;
}

.count {
  color: var(--color-gray);
}

.title {
  font-weight: 600;
  font-size: var(--font-medium);
}

.button {
  position: absolute;
  right: 0;
  padding: 10px;
  transition: transform var(--animation-cubicBezier);
}
.button:hover,
.button:focus {
  transform: scale(1.05);
}

.deleteButton {
  composes: button;
  top: 0;
  color: var(--color-red);
}

.editButton {
  composes: button;
  bottom: 0;
  color: var(--color-lightBlue);
}

@media screen and (max-width: 410px) {
  .box {
    min-width: 100%;
  }
}
